                                                <h1><a href="index.html">Amateur Consumption</a></h1>
                                                <nav class="links">
                                                        <ul>
                                                                <li><a href="/wine-bars.html">Wine Bars</a></li>
                                                                <li><a href="/travel.html">Travel</a></li>
                                                                <li><a href="/recipes.html">Recipes</a></li>
                                                                <li><a href="/vintners.html">Vintners and Wineries</a></li>
                                                                <li><a href="/videos.html">Videos</a></li>
                                                                <li><a href="/wine-reviews.html">Wine Reviews</a></li>
                                                        </ul>
                                                </nav>
                                                <nav class="main">
                                                        <ul>
                                                                <!--<li class="search">
                                                                        <a class="fa-search" href="#search">Search</a>
                                                                        <form id="search" method="get" action="#">
                                                                                <input type="text" name="query" placeholder="Search" />
                                                                        </form>
                                                                </li>-->
                                                                <li class="menu">
                                                                        <a class="fa-bars" href="#menu">Menu</a>
                                                                </li>
                                                        </ul>
                                                </nav>
