<!-- Links -->
                                                        <section>
                                                                <ul class="links">
                                                                        <li>
                                                                                <a href="/wine-bars.html">
                                                                                        <h3>Wine Bars</h3>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/cocktail-bars.html">
                                                                                        <h3>Cocktail Bars</h3>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/restaurants.html">
                                                                                        <h3>Restaurants</h3>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/breweries.html">
                                                                                        <h3>Breweries</h3>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/travel.html">
                                                                                        <h3>Travel</h3>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/recipes.html">
                                                                                        <h3>Recipes</h3>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/vintners.html">
                                                                                        <h3>Vintners and Wineries</h3>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/videos.html">
                                                                                        <h3>Videos</h3>
                                                                                </a>
                                                                        </li>
                                                                        <li>
                                                                                <a href="/wine-reviews.html">
                                                                                        <h3>Wine Reviews</h3>
                                                                                </a>
                                                                        </li>
                                                                </ul>
                                                        </section>
