<div class="mini-posts">
						<!-- Mini Post -->
						<article class="mini-post">
							<header>
								<h3><a href="/winebar-dilworthtastingroom.html">Dilworth Tasting Room</a></h3>
								<time class="published" datetime="2019-02-11">February 11, 2019</time>
								<a href="#" class="author"><img src="/images/AC.png" alt="" /></a>
							</header>
							<a href="/winebar-dilworthtastingroom.html" class="image"><img src="/images/winebars/dilworth-tasting-room/patio.jpg" alt="patio" /></a>
						</article>
						<!-- Mini Post -->
						<article class="mini-post">
							<header>
								<h3><a href="/winebar-assortedtablewineshop.html">Assorted Table Wine Shoppe</a></h3>
								<time class="published" datetime="2019-02-11">February 11, 2019</time>
								<a href="#" class="author"><img src="/images/AC.png" alt="" /></a>
							</header>
							<a href="/winebar-assortedtablewineshop.html" class="image"><img src="/images/winebars/assorted-table-wine/wine.jpg" alt="" /></a>
						</article>
						<!-- Mini Post -->
						<article class="mini-post">
							<header>
								<h3><a href="/winebar-meres.html">Meres</a></h3>
								<time class="published" datetime="2019-02-11">February 11, 2019</time>
								<a href="#" class="author"><img src="/images/AC.png" alt="" /></a>
							</header>
							<a href="/winebar-meres.html" class="image"><img src="/images/winebars/meres/cheese-board.jpg" alt="" /></a>
						</article>
						<!-- Mini Post -->
						<article class="mini-post">
							<header>
								<h3><a href="/winebar-vinmaster.html">Vin Master</a></h3>
								<time class="published" datetime="2019-02-11">February 11, 2019</time>
								<a href="#" class="author"><img src="/images/AC.png" alt="" /></a>
							</header>
							<a href="/winebar-vinmaster.html" class="image"><img src="/images/winebars/vin-master/inside.jpg" alt="" /></a>
						</article>
					</div>