<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a href="/wine-bars/winebar-winevault.html">Wine Vault</a></h3>
												<time class="published" datetime="2019-02-11">February 11, 2019</time>
											</header>
											<a href="/wine-bars/winebar-winevault.html" class="image"><img src="/images/winebars/wine-vault/entrance.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/wine-bars/winebar-vintnershill.html">Vintner's Hill</a></h3>
												<time class="published" datetime="2019-02-11">February 11, 2019</time>
											</header>
											<a href="/wine-bars/winebar-vintnershill.html" class="image"><img src="/images/winebars/vintners-hill/inside.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/wine-bars/winebar-seaboard.html">Seaboard</a></h3>
												<time class="published" datetime="2019-02-12">February 12, 2019</time>
											</header>
											<a href="/wine-bars/winebar-seaboard.html" class="image"><img src="/images/winebars/seaboard/wine-wall.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/travel/travel-valpolicella.html">Valpolicella</a></h3>
												<time class="published" datetime="2019-02-12">February 12, 2019</time>
											</header>
											<a href="/travel/travel-valpolicella.html" class="image"><img src="/images/travel/palazzodellatorre.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="/recipes/recipes-habaneropineapplehotsauce.html">Habanero Pineapple Hot Sauce</a></h3>
												<time class="published" datetime="2019-02-12">February 12, 2019</time>
											</header>
											<a href="/recipes/recipes-habaneropineapplehotsauce.html" class="image"><img src="/images/pic12.jpg" alt="" /></a>
										</article>
									</li>
								</ul>